blinker
click
colorama
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-CKEditor
Flask-DebugToolbar
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
python-dotenv
SQLAlchemy
typing_extensions
visitor
Werkzeug
WTForms
