{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          My name is Takbir and I'm a 2nd year Computer Science student at UCLA! I am proficient in Python and C++ programming and I am learning the ropes of Fullstack Web Development.
        </p>
        <p>
          I am a motivated and fast learner, and I pick up on new technologies/ideas very fast. I am actively seeking a software engineering internship opportunity to apply my programming skills in creating innovative solutions that enable business and technical functions. Above all, I want to collaborate in a dynamic team, create value, contribute to meaningful projects, and grow as a software developer. 
        </p>
        <p>
          In my free time, I love hiking, biking, watching movies, and collecting LEGO! I'm a huge Star Wars fan and have been my entire life, and as such, I pretty much only collect LEGO Star Wars. I also love cats despite being severely allergic 😁. One fun fact about me is that I'm ambidextrous. 
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
